*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image:url("1F87D7BA-7D78-47E2-8497-602579C0EE35.GIF");
    background-size:cover;
    background-position:center;

    font-family:Arial, Helvetica, sans-serif;

   background:linear-gradient(180deg,#103a1e,#04461a);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;

}

.contenedor{
    background-image:url("1F87D7BA-7D78-47E2-8497-602579C0EE35.GIF");
    background-size:cover;
    background-position:center;

    width:850px;

    border:6px solid #8de215ac;
    box-shadow:0 12px 25px rgba(228, 232, 0, 0.461);

    border-radius:15px;

    padding:30px;

   

}

header{

    text-align:center;

    margin-bottom:25px;

}

h1{

    color:#d9ff03;

    font-size:40px;

    margin-bottom:10px;

}

.descripcion{

    color:#555;

    font-size:18px;

    margin-bottom:10px;

}

.autor{

    color:#999;

    font-size:15px;

}

.panel{

    display:flex;

    justify-content:center;

    gap:25px;

    margin-bottom:25px;

}

.tarjeta{

    background:#ffb375;

    border-radius:18px;

    padding:18px 35px;

    min-width:170px;

    text-align:center;

    box-shadow:0 8px 15px rgba(0,0,0,.15);

}

.titulo{

    display:block;

    color:#666;

    margin-bottom:8px;

}

#txtPuntaje,
#txtVidas{

    font-size:34px;

    font-weight:bold;

    color:#f57f17;

}

.zonaJuego{

    display:flex;

    justify-content:center;

    margin-bottom:25px;

}

canvas{

    background:linear-gradient(#154310,#111313);

    border:6px solid #8de215;

    border-radius:20px;

    box-shadow:0 12px 25px rgba(228, 232, 0, 0.498);

}

.botones{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:15px;
    margin-bottom:25px;

}

button{

    border:none;

    border-radius:15px;

    padding:15px 28px;

    background:#fdb604;

    color:rgb(246, 237, 237);

    font-size:18px;

    cursor:pointer;

    transition:.25s;

    box-shadow:0 6px 12px rgba(0, 0, 0, 0.532);

}

button:hover{

    background:#d56f02;

    transform:translateY(-3px);

}

button:active{

    transform:scale(.96);

}

.reiniciar{

    background:#ef6c00;

}

.reiniciar:hover{

    background:#d84315;

}
.aleatorio{

    background:#13bb0d;

}

.aleatorio:hover{

    background:#15d82c;

}
.logo{

    display:flex;

    justify-content:center;

    margin-bottom:40px;

}

.logo img{

    width:290px;

    height:auto;

    transition:.3s;

    filter:drop-shadow(0 8px 15px rgba(252, 249, 249, 0.88));

}

.logo img:hover{

    transform:scale(1.05);

}